<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{
        url_for('static', filename='css/style.css') }}">
</head>

<body>
    <center>
        <div class="home">
            <h1>ab-heartbyte</h1>
            <p>Web app running on Microsoft Azure</p>
            <video id="gum" playsinline autoplay muted></video>
            <video id="recorded" playsinline loop></video>
            <div>
                <button id="start">Start camera</button>
                <button id="record" disabled>Start Recording</button>
                <button id="play" disabled>Play</button>
                <button id="download" disabled>Download</button>
            </div>
            <div>
                <h4>Media Stream Constraints options</h4>
                <p>Echo cancellation: <input type="checkbox" id="echoCancellation"></p>
            </div>
            <div>
                <span id="errorMsg"></span>
            </div>
            <script type=text/javascript src="{{
                url_for('static', filename='js/main.js') }}"></script>
        </div>
</body>

</html>