<!DOCTYPE html>
<html>
  <head>
    <style>
			#container {
				margin: 0px auto;
				width: 640px;
				height: 480px;
				border: 10px #333 solid;
			}
			#videoElement {
				width: 640px;
				height: 480px;
				background-color: #666;
			}
    </style>
    </head>
    <body>
      <center>
      <div class="home">
        <h1>ab-heartbyte</h1>
        <p>Web app running on Microsoft Azure</p>
      <video id="player" controls></video>
       <script type="text/javascript">
         var player = document.getElementById('player');
         var handleSuccess = function(stream) {
           player.srcObject = stream;
         };
         navigator.mediaDevices.getUserMedia({ video: true })
           .then(handleSuccess)    
       </script>
      </div> 
    </body>
</html>