<!DOCTYPE html>
<html>
  <head>
    <body>
      <div class="home">
        <h1>ab-heartbyte</h1>
        <p>Web app running on Microsoft Azure</p>
      <video id="player" controls></video>
       <script>
         var player = document.getElementById('player');
         var handleSuccess = function(stream) {
           player.srcObject = stream;
         };
         navigator.mediaDevices.getUserMedia({ video: true })
           .then(handleSuccess)    
       </script>
      </div> 
    </body>
</html>